:root {
  /* サイズ */
  --size-base : 1rem;
  --size-0 : .7rem;
  --size-1 : 1.4rem;
  --size-2 : 1.9rem;
  --size-3 : 2.7rem;
  --size-4 : 3.8rem;
  --size-5 : 5.4rem;
  --sub-section-space : var(--size-4); /** h2とh3の間など */
  --contents-space : var(--size-3); /** AboutとWorks間など */

/* 配色 */
  --white : #fff;
  --gray : #cdcdcd;
  --gray-dark : #dbdbdb;
  --black : #000;

/* サイトカラー */
  --primary : #30c1ff;
  --secondary : #bebebe;

/* タイポグラフィ */
  --font-family-sans-serif : BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

html {
  height : -webkit-fill-available;
  font-size : 16px;
  /* scroll-behavior : smooth; */
}

body {
  line-height : 1.6;
  font-family : var(--font-family-sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom : var(--size-2);
  font-weight : inherit;
}

h1 {
  font-size : 2.4rem;
}
h2 {
  font-size : 2rem;
}
h3 {
  font-size : 1.5rem;
}

p {
  line-height : 2;
}

a {
  color : #1a0dab;
  text-decoration : none;
}
a:hover {
  text-decoration : underline;
}

img {
  max-width : 100%;
  height : auto;
  vertical-align : middle;
}

ul {
  list-style-type : none;
}

small {
  font-size : 80%;
}

/* レイアウト */
.l-inner {
  padding : 0 var(--size-base);
}

/* タイポグラフィ */
.text-secondary {
  color : var(--secondary);
}
