.fab {
  opacity : .4;
  position : fixed;
  right : 44px;
  bottom : 44px;
  z-index : 100;
  transform : translateX(calc(100% + 44px));
  width : 55px;
  height : 55px;
  border : 0;
  background : var(--primary);
  color : var(--white, white);
  transition : all .3s ease;
}
.fab:hover {
  opacity : 1;
}

.fab.is-visible {
  transform : none;
}
