.observer {
  overflow : hidden;
}

/** フェードイン */
.fadein {
  opacity : 0;
  transition : all .5s ease;
}

.fadein-up {
  transform : translateY(30px);
}
.is-inview .fadein-up {
  opacity : 1;
  transform : translateY(0);
}

/** プログレスバー */
.progress-header {
  display : flex;
}
.progress-header span {
  display : block;
  margin-left : auto;
}

.progress-bar {
  width : 0;
  height : 15px;
  background : var(--primary);
  transition : width .5s ease;
}
.progress-bar-container {
  height : 15px;
  overflow : hidden;
  border-radius : 4px;
  background : #afd0dd;
}

:not(.is-inview).observer .progress-bar {
  width : 0 !important;
}
