.about .avatar,
.about .profile {
  margin-bottom : var(--contents-space);
}

.about .pr {
  width : 70%;
  margin : 0 auto var(--sub-section-space);
}

.about .profile dl {
  display : flex;
}
.about .profile dt {
  width : 30%;
}
.about .profile dd {
  width : 70%;
}

@media (min-width: 768px) {
  .about-info {
    display : flex;
  }
  .about .avatar {
    width : 50%;
  }
  .about .profile {
    width : 50%;
  }
}
