.hero {
  position : relative;
  width : 100%;
  height : calc(100vh - 100px);
}

.hero-background-wrap {
  position : absolute;
  top : 0;
  z-index : -1;
  width : 100%;
  height : 100%;
}
.hero-background-wrap::before {
  opacity : .65;
  position : absolute;
  width : 100%;
  height : 100%;
  background : #747474;
  content : "";
}

.hero-background {
  height : 100%;
  background-position : center;
  background-repeat : no-repeat;
}

.hero-contents {
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  height : 100%;
}

.hero-text {
  font-size : 10vw;
  line-height : 1;
}

.hero .button {
  font-size : var(--size-1);
}
.hero .button .transform-right-hover {
  display : inline-block;
  transition : transform .3s ease;
}
.hero .button:hover .transform-right-hover {
  transform : translateX(10px);
}

@media (min-width: 1024px) {
  .hero-background {
    background-position-x : 80%;
  }

  .hero-contents {
    align-items : start;
    margin-left : 10%;
  }
  .hero-text {
    font-size : 4rem;
  }
}
